#guide_view{
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 200px 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px 30px 50px;
}

#guide_view div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#guide_view div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#guide_view div div img{
    border: 1px solid black;
    width: 250px;
    height: auto;
}

.guide_view_middle_div{
    width: 30px;
}

#btn_view_guide1, #btn_view_guide2, #btn_view_guide3,#btn_view_guide4,
#btn_view_guide5, #btn_view_guide6, #btn_view_guide7,
#btn_view_guide8, #btn_view_guide9{
    padding: 0px 3px 0px 3px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #4f5050;
    width: 75px;
    color: white;
    margin-bottom: 10px;
}









#guide_section{
    padding: 20px 40px;
}

#guide_form{
    /*background-color: #3dd5f3;*/
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 200px 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px 30px 50px;
}

#manage_guide_head{
    font-size: 40px;
}

#guide_form_item{
    display: flex;
    flex-direction: column;
}

#add_guide_photo_section{
    align-items: center;
    justify-content: center;
}

#add_guide_photo{
    margin-bottom: 20px;
    width: 300px;
    height: auto;
}

#add_guide_photo_section{
    display: flex;
    flex-direction: column;
}

#btn_add_guide_photo{
    padding: 3px 7px 3px 7px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #198754;
    color: white;
}

#btn_add_guide_photo:hover{
    background-color: #146c43;
}

#guide_form_item input[type=text],[type=tel]{
    /*border-radius: 5px;*/
    margin-bottom: 10px;
    width: 500px;
}

#guide_gender_section{
    display: flex;
    margin-bottom: 10px;
}

#man_day_value, #guide_experience{
    width: 250px;
}

#guide_experience_section{
    display: flex;
}




#guide_nic_front, #guide_nic_back, #guide_id_front,#guide_id_back{
    width: 230px;
    height: auto;
}

#nic_images_middle_div, #guide_id_images_middle_div{
    width: 40px;
}

#btn_guide_nic_back, #btn_guide_nic_front, #btn_guide_id_back, #btn_guide_id_front{
    padding: 0px 3px 0px 3px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #007aa5;
    width: 75px;
    color: white;
}

#btn_guide_nic_back:hover, #btn_guide_nic_front:hover, #btn_guide_id_back:hover, #btn_guide_id_front:hover{
    background-color: #1e90ff;
}

#nic_images, #guide_id_images{
    display: flex;
    margin-top: 30px;
}

#nic_images div, #guide_id_images div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#guide_remark{
    width: 500px;
    height: 50px;
}

#add_guide, #update_guide,#delete_guide{
    padding: 1px 3px 1px 3px;
    border-radius: 15px;
    border: 1px solid black;
    width: 100px;
    color: white;
    box-sizing: border-box;
}

#add_guide{
    background-color: #007aa5;
}

#update_guide{
    background-color: #198754;
}

#delete_guide{
    background-color: #ff6347;
}

#add_guide:hover{
    background-color: #1e90ff;
}

#update_guide:hover{
    background-color: #3cb371;
}

#delete_guide:hover{
    background-color: #fe6f5e;
}

#guide_form img{
    border: 1px solid black;
}

#btn_close_guide_form{
    background-color: transparent;
    border: none;
}

#close_btn_div{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}