
#manage_user{
    margin-top: 100px;
    z-index: 2;
    margin-bottom: 100px;
}

#guide_user{
    padding: 20px 40px;
}

#user_form{
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 200px 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 155px 30px 155px;
}

#manage_user_head{
    font-size: 40px;
}

#user_form_item{
    display: flex;
    flex-direction: column;
}

#add_user_photo_section{
    align-items: center;
    justify-content: center;
}

#add_user_photo{
    margin-bottom: 20px;
    width: 300px;
    height: auto;
}

#add_user_photo_section{
    display: flex;
    flex-direction: column;
}

#btn_add_user_photo{
    padding: 3px 7px 3px 7px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #198754;
    color: white;
}

#btn_add_guide_photo:hover{
    background-color: #146c43;
}

#user_form_item input[type=text],[type=tel]{
    /*border-radius: 5px;*/
    margin-bottom: 10px;
    width: 500px;
}

#user_gender_section{
    display: flex;
    margin-bottom: 10px;
}

#man_day_value, #user_experience{
    width: 250px;
}

#user_experience_section{
    display: flex;
}




#user_nic_front, #user_nic_back{
    width: 230px;
    height: auto;
}

#nic_images_middle_div{
    width: 40px;
}

#btn_user_nic_back, #btn_user_nic_front{
    padding: 0px 3px 0px 3px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #007aa5;
    width: 75px;
    color: white;
}

#btn_user_nic_back:hover, #btn_user_nic_front:hover{
    background-color: #1e90ff;
}

#nic_images{
    display: flex;
    margin-top: 30px;
}

#nic_images div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#user_remark{
    width: 500px;
    height: 50px;
}

#add_user, #update_user,#delete_user{
    padding: 1px 3px 1px 3px;
    border-radius: 15px;
    border: 1px solid black;
    width: 100px;
    color: white;
    box-sizing: border-box;
}

#add_user{
    background-color: #007aa5;
}

#update_user{
    background-color: #198754;
}

#delete_user{
    background-color: #ff6347;
}

#add_user:hover{
    background-color: #1e90ff;
}

#update_user:hover{
    background-color: #3cb371;
}

#delete_user:hover{
    background-color: #fe6f5e;
}

#user_form img{
    border: 1px solid black;
}

#btn_close_user_form{
    background-color: transparent;
    border: none;
}

#close_btn_div {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}