.search-form {
    margin: 40px 5px;
    font: normal 12px sans-serif;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.search-form div.input-group-addon {
    background: #fff;
    color: #80A3BD;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border: 1px solid #b6c3cd;
    border-right: 0;
}

.search-form .input-group input {
    background-color: #ffffff;
    box-shadow: none;
    color: #4E565C;
    outline: none;
    border: 1px solid #b6c3cd;
    border-right: 0;
    border-left: 0;
}

.search-form div.input-group-btn button {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background: #6caee0;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    border-color: #6caee0;
    outline: none;
    opacity: 0.9;
}

.search-form div.input-group-btn button:hover {
    opacity: 1;
}

.search-form div.input-group-btn button:focus:active {
    background-color: #6caee0;
    color: #ffffff;
    outline: none;
}



#vehicle_profile{
    color: black;
    padding-left: 150px;
    padding-right: 150px;
}

div.container.profile {
    padding: 10px 20px;
}

.center {
    text-align: center;
}

.relative {
    position: relative;
}

.absolue {
    position: absolute;
}

div.profile-row {
    margin-top: 55px;
}

.absolue.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}

div.alert {
    width: 40%;
}

.alert-col > .alert {
    padding: 10px;
    border-radius: 0;
    transition: all 0.5s ease;
    opacity: 0;
}

hr {
    height: 2px;
}

.content-right > * {
    float: right;
}

.form-btn {
    min-width: 100px;
    margin: 0 5px;
    max-width: 200px;
}

div.avatar-bg {
    background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);
    background-position: 50% 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 50%;
    margin-left: calc(50% - 100px);
}

div.avatar > img {
    border-radius: 50%;
}

div.container.profile {
    padding: 10px 20px;
}

.center {
    text-align: center;
}

.no-marging {
    margin: 0 !important;
}

.relative {
    position: relative;
}

.absolue {
    position: absolute;
}

div.profile-row {
    margin-top: 55px;
}

.absolue.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}

div.alert {
    width: 40%;
}

.alert-col {
}

.alert-col > .alert {
    padding: 10px;
    border-radius: 0;
    transition: all 0.5s ease;
    opacity: 0;
}

.alert-col > .alert.display {
    opacity: 1;
}

hr {
    height: 2px;
}

.content-right > * {
    float: right;
}

.form-btn {
    min-width: 100px;
    margin: 0 5px;
    max-width: 200px;
}

/*img.avart-img {*/
/*    max-width: 200px;*/
/*}*/

/*div.avatar-bg {*/
/*    background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);*/
/*    background-position: 50% 50%;*/
/*    background-size: cover;*/
/*    border-radius: 50%;*/
/*    margin-left: calc(50% - 100px);*/
/*}*/

